# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.spec

# Виртуальное окружение
venv/
env/
ENV/
.venv

# Секреты и конфиги
.env
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# PyInstaller
*.spec
SongsManager.spec
dist/
build/